@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sue+Ellen+Francisco&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .font-josefin {
    font-family: "Josefin Sans", sans-serif;
  }
}

/* smooth scroll for the partners section on home  */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}
